.home-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.cards-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.market-filter{
  margin-right: 5px;
  display: grid;
  grid-template-columns: 1fr 6fr;
  font-size: 30px;
}

.fa-shopping-bag{
  color: #B2D136;
}

.b{
  padding-left: 10px;
  margin-top: 20px;
}

.paginator__more{
  width: 700px;
  height: 45px;
  margin-left: 18px;
  margin-bottom: 20px;
  background-color: #B2D136;
  border-radius: 5px; 
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.paginator__more:hover{
  width: 700px;
  height: 45px;
  margin-left: 18px;
  background-color: #018B44;
  border-radius: 5px; 
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.paginator__items-wrap{
  display: flex;
  justify-content: center;
}

.paginator__items{
  display: flex;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.paginator__item{
  color: #000000;
  font-weight: bold;
  text-align: center;
  padding-top: 13px;
  height: 45px;
  width: 50px;
  border-right: 1px solid #e5e5e5;
}

.paginator-activ{
  background-color: #B2D136;  
}

.paginator__item:hover{
  cursor: pointer;
  background-color: #018B44;
  color: #000000;
  font-weight: bold;
  text-align: center;
  padding-top: 13px;
  height: 45px;
  width: 50px;
}

.paginator__item:last-child{
  border-right: none;  
}

#svg__previous,
#svg__next{
  margin: 0;
  width: 27px;
  height: 25px;
  fill: #B2D136;
  stroke-width: 2;
}