<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="/assets/public/css/main.css">
</head>

<body>
  <div class="container">
    <div class="top-devaider-white"></div>
    <div class="top-devider-grey"></div>
    <img class="my-rooms-icon" src="/assets/public/images/House.png" alt="" class="my-rooms-icon-icon">
    <div class="side-nav">
      <div class="contact-preview">
        <img class="contact-pre-photo" src="/assets/public/images/Первый чел.png" alt="" class="photo-preview">
        <div class="contact-pre-info">
          <div class="conatact-pre-name">Старина Пит</div>
          <div class="contact-pre-email">bred@gmail.com</div>
        </div>
      </div>
      <div class="my-rooms1">
        <img class="my-rooms1-icon" src="/assets/public/images/Keys.png" alt="">
        <div class="my-rooms1-text">Мои квартиры</div>
      </div>
      <div class="history">
        <img class="history-icon" src="/assets/public/images/tasks.png" alt="">
        <div class="history-text">История</div>
      </div>
      <div class="all-service">
        <div class="all-service-container">
          <div class="all-service-text">Все сервисы Умного дома</div>
        </div>
      </div>
      <div class="title">
        <div class="title-text">
          White List
        </div>
      </div>
      <div class="contact-active">
        <div class="contact-active-icon">
          <img src="/assets/public/images/contacts-active.png" alt="">
        </div>
        <div class="contact-active-text">
          <p>Список людей с доступом</p>
        </div>
      </div>
      <div class="side-nav-devider"></div>
      <div class="logout">
        <div class="logout-text">Выйти</div>
        <img class="logout-icon" src="/assets/public/images/Door.png" alt="">
      </div>
    </div>

    <div class="main-title">Список людей с доступом</div>
    <img class="main-icon" src="/assets/public/images/ROSTELEKOM logo.png" alt="" class="main-logo">
    <div class="bubble-container">
      <div class="bubble bubble-active">Моя квартира</div>
      <div class="bubble">Kвартира 2</div>
      <div class="bubble">Квартира 3</div>
      <div class="bubble-add">+</div>
    </div><div>
    <div class="add-user">Добавить человека</div>
    <form class='form-add-user' id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/api/file"
     method    =  "post"
> 
<label>Имя:
<input type="text" name="title" /> </label>
<input type="file" name="userFile" />
<input class ='guest-create' type="submit" value="Создать" name="submit">
</form> </div>
    <div class="user">
      <img class="user-photo" src="/assets/public/images/Первый чел.png" alt="">
      <div class="user-name">Старина Пит</div>
      <div class="face-id">Face-ID
        <input type="checkbox" name="" id="">
      </div>
      <div class="push-message">
        Push-уведомления
        <input type="checkbox" name="" id="">
      </div>
      <div class="valid-until">
        Действует до
        <input type="datetime" name="" id="">
      </div>
    </div>
    <div class="banner">
      <img src="/assets/public/images/banner.png" alt="">
    </div>
  </div>

<script>
const buttons = document.getElementsByClassName('add-user');
const form = document.getElementsByClassName('form-add-user');
const create = document.getElementsByClassName('guest-create');

buttons[0].addEventListener('click', async (e) => {
        {{!-- e.preventDefault(); --}}
        form[0].classList.toggle('show')
        })
{{!-- create[0].addEventListener('click', async (e) => {
  e.preventDefault();
        let response = await fetch('/api/file', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 'id': articleId })
        });
        let text = await response.text();
}) --}}

</script>

</body>

</html>