
  <div class="container">
    
    

<h1 class="mt-3">Политика конфиденциальности для facebook.com</h1>



<h3>Общие условия</h3>

<ol> 
<li>Настоящая Политика определяет порядок обработки и защиты Администрацией сайта (далее – Администрация) информации о физических лицах (далее – Пользователи), которая может быть получена Администрацией при заполнении Пользователем регистрационной формы на интернет-сайте <noindex><a href="http://www.facebook.com" target="_blank" rel="nofollow">www.facebook.com</a></noindex></li>

<li>Целью настоящей Политики является обеспечение надлежащей защиты информации о Пользователях, в том числе их персональных данных, от несанкционированного доступа и разглашения. </li>

<li>Отношения, связанные со сбором, хранением, распространением и защитой информации предоставляемой Пользователем, регулируются настоящей Политикой, и действующим законодательством Российской Федерации. </li>

<li>Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационной формы на интернет-сайте <noindex><a href="http://www.facebook.com" target="_blank" rel="nofollow">www.facebook.com</a></noindex> и включают в себя следующую информацию: - фамилию, имя, отчество Пользователя; - контактный телефон Пользователя; - адрес электронной почты (e-mail); Заполняя регистрационную форму, Пользователь выражает свое полное согласие с условиями настоящей Политики. </li>
</ol>

<br>
<h3>Цели сбора, обработки и хранения информации предоставляемой Пользователями</h3>

<ol> 
<li>Обработка персональных данных Пользователя осуществляется в соответствии с законодательством Российской Федерации. Общество обрабатывает персональные данные Пользователя в целях:</li>

<ul class="list-dota"> 
  <li>предоставления Пользователю информации об оказываемых услугах, специальных предложений и иных сведений; </li>
 
  <li>проведения маркетинговых и иных исследований.</li>
 </ul>
</ol>

<br>
<h3>Условия обработки персональной информации предоставленной Пользователем</h3>

<ol> 
<li>Обработка персональных данных Пользователя осуществляется в течение срока, необходимого для целей, указанных в настоящей Политике, любым законным способом, в том числе в информационных системах с использованием средств автоматизации или без использования таких средств.</li>

<li>Общество принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.</li>

<li>Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.</li>

<li>Пользователь при заполнении регистрационной формы подтверждает, что:</li> 
  <ul class="list-dota"> 
    <li>указывает достоверную информацию о себе, вся иная информация предоставляется Пользователем по его собственному усмотрению.</li>
   
    <li>ознакомлен с настоящей Политикой, выражает свое согласие с ней. 
      <br>
     Ознакомление с условиями настоящей Политики и проставление галочки под ссылкой на данную Политику является письменным согласием Пользователя на сбор, хранение, обработку персональных данных, предоставляемых Пользователем.</li>
   </ul>


<li>Общество не проверяет достоверность получаемой (собираемой) информации о Пользователях, за исключением случаев, когда такая проверка необходима в целях исполнения обязательств перед Пользователем.</li>
</ol>

<br>
<h3>Изменение Политики конфиденциальности. Применимое законодательство</h3>

<ol> 
<li>Администрация имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики. </li>

<li>К настоящей Политике и отношениям между Пользователем и Администрацией, возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.</li>

<li>До обращения в суд с иском по спорам, возникающим из отношений между Пользователем и Администрацией, обязательным является соблюдение претензионного порядка регулирования спора. </li>
</ol>
            
</div>
